# Cherry-picking files
*
!/.gitignore
!/.zshenv
!/.xinitrc
!/.config/
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/aliases
!/.config/zsh/prompt
!/.config/git/
!/.config/git/*
!/.emacs.d/
!/.emacs.d/**

*.elc
url
ede-projects.el
tramp
*~
\#*\#
