# Cherry-picking files
*
!/.gitignore
!/.zshenv
!/.xinitrc
!/.Xresources
!/.ssh/
!/.ssh/config
!/.config/
!/.config/git/
!/.config/git/config
!/.config/git/ignore
!/.config/i3/
!/.config/i3/config
!/.config/pulse/
!/.config/pulse/client.conf
!/.config/terminator/
!/.config/terminator/config
!/.config/Trolltech.conf
!/.config/X11/
!/.config/X11/resources
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/.zlogin
!/.config/zsh/aliases
!/.config/zsh/prompt
!/.config/user-dirs.dirs
!/.emacs.d/
!/.emacs.d/**
!/.local/
!/.local/bin/
!/.local/bin/colordiff.sed

# Stuff I always want to ignore
.DS_Store
*.elc
url
ede-projects.el
tramp
*~
\#*\#
